<HTML>
<HEAD>
<TITLE>Command Injection</TITLE>
</HEAD>
<BODY BGCOLOR="skyblue">



<H1>Command Injection</H1>

<P> <b>cmd:</b>  <%= cmd %> </P>
<p> <b>results:</b> <%= cmd_results %></p>

<form action="" method="GET">
  <!-- Adds `?q=VALUE` to the URL when the form is submitted -->
  <input type="text" name="cmd">
  <input type="submit" value="Execute Command">
</form>


<p>[<a href="/?message=So Evil!">evil-node home</a>]</p>

</BODY>

</HTML>
