<HTML>
<HEAD>
<TITLE>evil-node</TITLE>
</HEAD>
<BODY BGCOLOR="skyblue">



<H1>evil-node</H1>

<table cellspacing="25"><tr><td>
<img src="/img/goat.jpg" border="1" />
</td><td>

<P>
DO NOT RUN THIS APP ON ANY COMPUTER YOU CARE ABOUT
</P>


<P>  <%= message %> </P>

<P>
  <ul>
    <li><a href="/cmd/">Command Injection</a></li>
    <li><a href="/log/">Log Injection</a></li>
    <li><a href="/regex/?key=test">RegEx DOS & Injection</a></li>
    <li><a href="/xss/">Reflected XSS</a></li>
    <li><a href="/ti/?user_input=Template Injection">Template Injection</a></li>
  </ul>
</P>
</td></tr></table>

</BODY>

</HTML>
