<HTML>
<HEAD>
<TITLE>Log Injection</TITLE>
</HEAD>
<BODY BGCOLOR="skyblue">



<H1>Log Injection</H1>

<P> <b>log message:</b>  <%= log_msg %> </P>

<form action="" method="GET">
  <input type="text" name="log">
  <input type="submit" value="Log This">
</form>


<p>[<a href="/?message=Finished Logging">evil-node home</a>]</p>

</BODY>

</HTML>
