<HTML>
<HEAD>
<TITLE>RegEx DOS and Injection</TITLE>
</HEAD>
<BODY BGCOLOR="skyblue">



<H1>RegEx DOS and Injection</H1>


<P>  <%= regex %> </P>

<form action="" method="GET">
  <input type="text" name="user_input">
  <input type="submit" value="RegEx">
</form>

<p>[<a href="/">evil-node home</a>]</p>
</BODY>

</HTML>
