<HTML>
<HEAD>
<TITLE>Template Injection</TITLE>
</HEAD>
<BODY BGCOLOR="skyblue">



<H1>Template Injection</H1>


<P> Your request:  <%= user_data %> </P>

<form action="" method="GET">
  <input type="text" name="user_input">
  <input type="submit" value="Go">
</form>

<p>[<a href="/">evil-node home</a>]</p>
</BODY>

</HTML>
